name: Docker Publish

on:
  push:
    branches:
      - master
    tags:
      - "*.*.*"

permissions:
  packages: write

jobs:
  publish-tag:
    name: Docker Publish Tag
    runs-on: ubuntu-latest
    if: ${{ github.ref != 'refs/heads/master' && !contains(github.ref, '-') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Prepare
        run: echo "TAG=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          tags: |
            adrienpoupa/rclone-backup:${{ env.TAG }}
            ghcr.io/adrienpoupa/rclone-backup:${{ env.TAG }}

  publish-beta:
    name: Docker Publish Beta
    runs-on: ubuntu-latest
    if: ${{ github.ref != 'refs/heads/master' && contains(github.ref, '-') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Prepare
        run: echo "TAG=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          tags: |
            adrienpoupa/rclone-backup:${{ env.TAG }}
            ghcr.io/adrienpoupa/rclone-backup:${{ env.TAG }}

  publish-latest:
    name: Docker Publish Latest
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          tags: |
            adrienpoupa/rclone-backup:latest
            ghcr.io/adrienpoupa/rclone-backup:latest
